
/**
 * Variables
 */
:root {
    --netflix-primary: #E50914;
    --netflix-light: #f5f5f1;
    --netflix-dark: #221f1f;
}




/**
 * Base
 */
body {
    background-color: #2b2b2b;
}

a {
    color: var(--netflix-light);
}

a:hover {
    color: var(--netflix-light);
    opacity: .7;
    text-decoration: unset;
}




/**
 * Custom elements
 */
#root {
    padding-bottom: 70px;
}



/**
 * Custom classes
 */

.category {
    padding: 4px;
    font-size: 18px;
}

.category-parent {
    font-size: 24px;
    font-weight: 600;
    margin-top: 12px;
}

.logo {
    height: 24px;
}

.radius {
    border-radius: 3px;
}

.link {
    cursor:pointer;
    transition: opacity 200ms;
}
.link:hover {
    opacity: .7;
}

.input__clear {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 8px 3px;
}

.hide {display: none}

.close:hover {
    opacity: .7;
    color: unset;
    cursor: pointer;
}

.bg-netflix-dark {
    background-color: var(--netflix-dark);
}

.bg-netflix-primary {
    background-color: var(--netflix-primary);
}

.text-netflix-primary {
    color: var(--netflix-primary);
}

.text-netflix-light {
    color: var(--netflix-light);
}




/**
 * Bootstrap modding
 */

.card-body {
    background-color: #252525
}

.card-header {
    background-color: var(--netflix-dark);
}

.border-secondary {
    border-color: #555 !important;
}

.no-focus-border:focus, input:focus{
    outline: none;
}

.flex-column {
    border-radius: 3px;
}

.card-columns {
    padding: 1.3rem;
}

@media screen and (max-width: 950px) and (min-width: 625px) {
    .card-columns {
        column-count: 2;
    }
}

@media screen and (min-width: 1080px) {
    .card-columns {
        column-count: 4;
    }
}

@media screen and (min-width: 1300px) {
    .card-columns {
        column-count: 5;
    }
}

@media screen and (min-width: 1900px) {
    .card-columns {
        column-count: 6;
    }
}

@media screen and (min-width: 2400px) {
    .card-columns {
        column-count: 7;
    }
}